
.login-form {
    width: 340px;
    margin: 50px auto;
    background: #a3f2f7;
}
.login-form form {
    margin-bottom: 15px;
    background: #45b1f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}



.btnn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btnn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btnn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btnn-group button:hover {
    background-color: #3e8e41;
}
